# v0 sandbox internal files
__v0_runtime_loader.js
__v0_devtools.tsx
__v0_jsx-dev-runtime.ts
.snowflake/
.v0-trash/
.vercel/

# Environment variables
.env*.local

# Common ignores
node_modules
.next/
.DS_Store
# Python & Build Cache
__pycache__/
*.py[cod]
*.class
*.tsbuildinfo


# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
backend/venv/

backend/data/biotime.csv
backend/data/biotime.zip  
 